*{
    box-sizing:border-box;
}

.Dash{
    background-image:url('../dash.jpg');
    background-size:cover;
    height:100vh;
    overflow:hidden;
}
.arrow{
    display:flex;
    border-radius:3px;
    color:white;
    left:0px;
    height:35px;
    padding:13px;
    background-color:#403D39;
    align-items:flex-end;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
}
.logout{
    border-radius:3px;
    background-color:#403D39;
    color:white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border:none;
    height:35px;
    width:100px;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:600;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.nav{
    height:50px;
    background-color:black;
    position:fixed;
    top:0px;
    display:flex;
    width:100%;
    align-items:center;
    justify-content: space-between;
    flex-wrap:wrap;
    z-index:1000;
}
.dropdown{
    color:white;
    background: black;
    display:flex;
    flex-direction:column;
    position:fixed;
    width:500px;
    top:50px;
    transition:.65s;
    z-index:1;
}
.slide{
    top:-200px;
}
.fs_locator{
    color:white;
    background:black;
    border:none;
    font-family:'Open Sans',sans-serif;
    font-size:20px;
    font-weight:600;
    padding:10px;
}
.rec_stores{
    padding:10px;
}
.fs_reviews{
    padding:10px;
}
.forums{
    padding:10px;
}
.events{
    padding:10px;
}
.np_guide{
    padding:10px;
}